<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="mc">
    <title>Photo Critic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
<div class="container-fluid">
    <div class="row app-title">
        <h1 class="text-centered">Try the photo critic!</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- TODO enable drag and drop -->
            <!-- TODO add support for multiple images -->
            <img id="photo" class="hidden photo-thumbnail" src=""/>
            <div class="aspect-ratio-fix">
                <div class="drag-and-drop-area">
                    <p class="text-centered">
                        Select a single photo below to calculate its aesthetics score!<br>
                    </p>
                    <!-- or many photos to sort them by their score! -->
                    <!--<p class="text-centered">You can also just select photos by clicking below:</p>-->
                    <input type="file" id="photo-input" class="photo-input" accept="image/gif, image/jpeg, image/png"/>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="spinner" class="hidden spinner">
                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                <p class="hidden" id="resizing"><strong>resizing the photo...</strong></p>
                <p class="hidden" id="analyzing"><strong>analyzing the photo...</strong></p>
            </div>
            <div id="score">
                <h4 class="score-title">Photo aesthetics score:</h4>
                <span class="photo-score" id="score-text">not available</span>
                <div class="progress score-bar">
                    <div class="progress-bar" id="score-bar" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- TODO about section in the footer -->
<script type="text/javascript" src="/static/main.js"></script>
<script type="text/javascript" src="/static/image-tools.js"></script>
</body>
</html>
