<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="mc">
  <title>Krzysiek ma 25 lat!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <form class="form-signin" action="" method="post" name="login">
      {{form.hidden_tag()}}
      <h2 class="form-signin-heading">Wszystkiego najlepszego!</h2>
      {{form.login(size=80,class='form-control',placeholder='Podaj login')}}<br>
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Zdobądź prezent!">
    </form>
  </div>
</body>
</html>
